.blueviolet {
  color: blueviolet;
  text-decoration: none;
  border: 5px solid aqua;
  display: block;
  background-color: bisque;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  text-align: center;
}

.blueviolet:hover {
  background-color: aqua;
}
