a:link,
a:visited {
  color: blueviolet;
  text-decoration: none;
  border: 2px solid aqua;
  display: block;
  background-color: bisque;
  width: 250px;
  font-size: xx-large;
  text-align: center;
}

a:hover,
a:active {
  background-color: aqua;
}
